* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Montserrat", sans-serif;
    background-color: #0a0a0a;
    color: #fff;
    text-align: center;
    padding: 20px;
}

h1 {
    margin-bottom: 20px;
}

.gallery {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    max-width: 1200px;
    margin: 0 auto;
}


.gallery-item {
    overflow: hidden;
    border-radius: 10px;
    border: 2px solid #bc9c06;
}

.gallery-item img {
    width: 100%;
    height: auto;
    display: block;
    transition: transform 0.3s ease;
}

.gallery-item:hover img {
    transform: scale(1.1); /* Zoom léger au survol */
}
