body {
    margin: 0;
    overflow: hidden;
    background-color: #0a0a0a;
    font-family: "Montserrat", sans-serif;
    color: white;
}

button {
    font-family: "Montserrat", sans-serif;
    width: 100px;
    border-radius: 10px;
}

#container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 5px;
    margin-left: 50px;
    margin-right: 10px;
    width: 90%;
    gap: 10px;
}

#vertical-menu {
    background-color: #bc9c06;
    width: 100%; /* Full width on small screens */
    max-width: 200px; /* Max width for larger screens */
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    height: 961px;
}

#vertical-menu a {
    padding: 15px;
    text-decoration: none;
    color: white;
}

a:hover, button:hover {
    scale: 103%;
    font-weight: 500;
}

#logoProjet {
    width: 200px;
}

#maquette img {
    max-width: 100%; /* Responsive image */
    height: auto; /* Maintain aspect ratio */
}

#cursor {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    gap: 25px;
}



#boussole {
    position: absolute; /* Positionnement absolu par rapport à #maquette */
    top: 10px; /* Ajustez pour le placer en haut, peut être modifié selon votre design */
    right: 10px; /* Ajustez pour le placer à droite, peut être modifié selon votre design */
    width: 10%; /* Utilisez des valeurs en pourcentage pour rendre la taille responsive */
    max-width: 100px; /* Limite de taille pour éviter qu'elle devienne trop grande sur des écrans larges */
    z-index: 10; /* Assurez-vous que la boussole soit au-dessus des autres éléments */
    border: none;
}

#maquette {
    position: relative; /* Positionner le conteneur de manière relative pour que les enfants puissent être positionnés par rapport à lui */
}

img {
    border-radius: 10px;
    border: 1px solid #bc9c06;
}

/* Style pour les boutons actifs */
button.active {
    border: 2px solid #bc9c06;
    background-color: #bc9c06;
    color: #0a0a0a;
    font-weight: bold;
}


area {
    outline: 2px solid red; /* Utiliser seulement pour le développement, retirer en production */
}





/* MODAL */
.modal {
   
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fefefee5;
    color: #0a0a0a;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 400px;
    border-radius: 10px;
}

.modal-content button {
    background-color:#bc9c06;
    color:#0a0a0a;
    width: 150px;
}

.close-button {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-button:hover,
.close-button:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}














/* RESPONSIVE DESIGN */


@media (max-width: 1019px) {
    #mainImage {
        min-width: 300px;
    }
    #container {
        flex-wrap: wrap;
       
}
    #logoProjet {
        max-width: 100px;
}
    body {
        overflow-y: auto;
        display: flex;
        flex-direction: column;
    }
    #vertical-menu {
        max-width: none;
        max-height: 450px;
        align-items: center;
    
    }

    #cursor {
        margin-bottom: 500px;
        gap: 5px;
    }

    button {
        width: 60px;
    }


    
}

@media (min-width: 1020px) {
     #mainImage {
        min-width: 900px;
    }
    #logoProjet {
        max-width: 100px;
    }
    #vertical-menu {
        min-width: 200px;
        padding-left: 100px;
        margin-left: 50px;
        height: 506px;
    }


    @media (min-width: 1080px) {
        #mainImage {
           min-width: 900px;
       }
       #logoProjet {
           max-width: 100px;
       }
       #vertical-menu {
           min-width: 200px;
           padding-left: 50px;
       }}
   
   
       @media (min-width: 1150px) {
        #mainImage {
           min-width: 900px;
       }
       #logoProjet {
           max-width: 100px;
       }
       #vertical-menu {
           min-width: 200px;
       }
   
   
   


}
@media (min-width: 1180px) {
    #mainImage {
        min-width: 1000px;
    }
    #logoProjet {
        min-width: 180px;
    }

    #vertical-menu {
        padding-left: 0;
        margin-left: 0;
     }
        
}}